*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}
body{
    background-color: #ddd;
}
/*Arranca el trabajo de Nicolas */
/*Primera parte*/
main{
    width: 75%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 80px;
    margin: 50px auto;
    margin-top: 30px;
    position: relative;
    background-image: url("https://previews.123rf.com/images/attitude/attitude1503/attitude150300110/37726191-papel-abstracta-fondo-marr%C3%B3n-o-pergamino-con-textura-suave-neutral-fondo-liso-para-la-bandera-del-we.jpg");
}







.contenedorLogoInicio{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.imgInicio{
    width: 400px;
    height: 300px;
    border-radius: 10%;
    border:5px solid ;
    background-color: white;
    background-size: cover;
    background-position: center;
}


.contenedorInicio{
    display: flex;
    margin-left: 30%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 500px;
    gap: 10px;
}

.tituloInicio{
    width: 400px;
    transition: all 400ms ease;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    background-repeat: no-repeat;
}
.tituloInicio:hover{
    transform: translateY(-10%);
}









.titulo1{
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 50px;
    margin-top: 70px;
    width: 60%;
    margin-left: 0px;
    font-size: 25px;
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    background-repeat: no-repeat;
}







.contenedor1{
    position: relative;
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15%;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190619/ourmid/pngtree-european-retro-pattern-stationery-background-material-image_134187.jpg");
}

.contenedorMenu1{
    width: 30%;
    text-align: center;
}

.contenedor1 div{
    margin-bottom: 10px;
}

.nombreComida{
    color: #252440;
    text-transform: uppercase;
    font-weight: bold;
}

.precios{
    padding-bottom: 10px;
    color: red;
    font-weight: bold;
}










.contenedor2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15%;
    padding-bottom: 20px;
}

.contenedorImg{
    width: 30%;
    border-radius: 50%;
}

.img{
    width: 250px;
    height: 220px;
    border-radius: 50%;
    
}

.contenedorMenu2{
    width: 30%;
    text-align: center;
}










.contenedorLateral{
    width: auto;
    height: 100%;
    background-color: #000030;
    position: absolute;
    top: 0%;
    right: -30%;
    bottom: 3.6%;
}

.contenedorLateral2{
    width: auto;
    height: 100%;
    background-color: #000030;
    position: absolute;
    top: 2%;
    right: -30%;
    bottom: 3.6%;
}

.contenedorLateral3{
    width: auto;
    height: 100%;
    background-color: #000030;
    position: absolute;
    top: 0%;
    right: -30%;
    bottom: 3.6%;
}

.contenedorImg2{
    border-radius: 50%;
    width: 250px;
    height: 220px;
    border: solid;
    border-color: white;
    margin: 70px auto;
    background-size: cover;
    background-position: center;
    
}
.img2{
    width: 250px;
    height: 220px;
    background-color: white;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}







.btn{
    width: 150px;
    border-radius: 20px;
    border: 5px solid black;
    text-align: center;
    margin-bottom: 40px;
    transition: all 400ms ease;
}
.btn:hover{
    transform: translateY(-10%);
    background-color: white;
}
.btnA{
    text-decoration: none;
    color: black;
    
}



.btn2{
    width: 150px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    margin-bottom: 10px;
    transition: all 400ms ease;
}
.btn2:hover{
    transform: translateY(-10%);
    background-color: white;
}




/*Termina el trabajo de Pablo*/

/*Responsive*/

@media screen and (max-width: 1300px){

    
}

@media screen and (max-width: 1100px){
    
    
}

/*Aguanta hasta 950 pixeles(Despues se deforma)*/