*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}
body{
    background-color: #ddd;
}


/*el fonde del inicio de la carta (el index)*/
main{
    width: 75%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 80px;
    margin: 50px auto;
    margin-top: 30px;
    position: relative;
    background-position-x: center;
    background-image: url("https://www.publicdomainpictures.net/pictures/330000/nahled/pergament-beige-hintergrund-vintage.jpg");
}


/*el fondo de las cartas(menu,postres,bebidas,acerca de nosotros)*/
section{
    width: 75%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 80px;
    margin: 50px auto;
    margin-top: 30px;
    position: relative;
}




/*son los estilos del footer (la pagia de acerda de nosotros)*/
footer {
    width: 75%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 80px;
    margin: 50px auto;
    margin-top: 30px;
    position: relative;
    background-position-x: center;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190619/ourmid/pngtree-european-retro-pattern-stationery-background-material-image_134187.jpg');
}

.Acerca-de {
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 50px;
    margin-top: 70px;
    width: 60%;
    margin-left: 20%;
    font-size: 25px;
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    background-repeat: no-repeat;

}


.Contenido {
    float: left;
    width: 50%;
    text-align: center;
    animation-name: agrandarTitulo;
}

aside {
    float: left;
    width: 50%;


}

.Mapa {
    margin: 50px;
}

.mapa2{
    width: 70%;
    margin: 30px auto;
    border-radius: 10px;
    
}





/*los estilos al logo del index*/
.contenedorLogoInicio{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/*logo del index*/
.imgInicio{
    width: 400px;
    height: 300px;
    border-radius: 10%;
    border:5px solid ;
    background-color: white;
    background-size: cover;
    animation-name: mover;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    
    
    
}
@keyframes mover {
    0%{
        transform: rotate(20deg);
    }

    100%{
        transform: rotate(-20deg);
    }
}





.contenedorInicio{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width:100%;
    gap: 10px;
}

/*los estilos del primer y tercer titulo del index*/
.tituloInicio1{
    width: 100%;
    transition: all 400ms ease;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    background-repeat: no-repeat;
    animation-name: moverTitulo1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: alternate;

}
@keyframes moverTitulo1 {
    100%{
        transform: translateX(31%);
    }
}

/*son los estilos del segundo titulo del index*/
.tituloInicio2{
    margin: 0;
    pad: 0;
    width: 100%;
    transition: all 400ms ease;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    background-repeat: no-repeat;
    animation-name: moverTitulo2;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
@keyframes moverTitulo2 {
    100%{
        transform: translateX(-54%);
    }
}

/*son los estilos del ultimo titulo del index*/
.tituloInicio3{
    margin: 0;
    pad: 0;
    width: 100%;
    transition: all 400ms ease;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    font-size: 25px;
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    background-repeat: no-repeat;
    animation-name: moverTitulo3;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
@keyframes moverTitulo3 {
    100%{
        transform: translateX(-32%);
        
    }
}










/*son los estilos de todos los titulos de nuestro catalogo de venta(menu,postre,bebidas)*/
.titulo1{
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 50px;
    margin-top: 70px;
    width: 60%;
    margin-left: 0px;
    font-size: 25px;
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    background-repeat: no-repeat;
    animation-name: agrandarTitulo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes agrandarTitulo {
    0%{
        transform: scale(50%);
    }

    100%{
       transform:scale(150%)
    }
}




/*son los estilos de nuestro menu con sus respectivas comidas o bebidas o postres*/
.contenedor1{
    position: relative;
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-position-x: center;
    gap: 15%;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190619/ourmid/pngtree-european-retro-pattern-stationery-background-material-image_134187.jpg");
}

.contenedorMenu1{
    width: 30%;
    text-align: center;
}

.contenedor1 div{
    margin-bottom: 10px;
}

.nombreComida{
    color: #252440;
    text-transform: uppercase;
    font-weight: bold;
}

.precios{
    padding-bottom: 10px;
    color: red;
    font-weight: bold;
}









/*son los estilos de nuestro menu con sus respectivas comidas o bebidas o postres*/
.contenedor2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15%;
    padding-bottom: 20px;
}

.contenedorImg{
    width: 30%;
    border-radius: 50%;
}

.img{
    width: 250px;
    height: 220px;
    border-radius: 50%;
    
}

.contenedorMenu2{
    width: 30%;
    text-align: center;
}









/*son los estilos de la barra lateral donde colocamos las fotos de nuestro productos*/
.contenedorLateral{
    width: auto;
    height: 100%;
    background-color: #000030;
    position: absolute;
    top: 0%;
    right: -30%;
    bottom: 3.6%;
}

.contenedorLateral2{
    width: auto;
    height: 100%;
    background-color: #000030;
    position: absolute;
    top: 0%;
    right: -30%;
    bottom: 3.6%;
}

.contenedorLateral3{
    width: auto;
    height: 100%;
    background-color: #000030;
    position: absolute;
    top: 0%;
    right: -30%;
    bottom: 3.6%;
}


/*los estilos de las imagenes que perteneces a la barra lateral*/
.contenedorImg2{
    border-radius: 50%;
    width: 250px;
    height: 220px;
    border: solid;
    border-color: white;
    margin: 70px auto;
    background-size: cover;
    background-position: center;
    
}
.img2{
    width: 250px;
    height: 220px;
    background-color: white;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}




/*son los estilos de los botones para pasar de pagina*/
.btn1{
    width: 150px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid #262524;
    text-align: center;
    margin-bottom: 40px;
    transition: all 400ms ease;
}
.btn1:hover{
    transform: translateY(-10%);
    background-color: goldenrod;
}





.btn{
    width: 150px;
    border-radius: 20px;
    border: 1px solid #262524;
    text-align: center;
    margin-bottom: 40px;
    transition: all 400ms ease;
}
.btn:hover{
    transform: translateY(-10%);
    background-color: goldenrod;
}
.btnA{
    text-decoration: none;
    color: black;
    
}



.btn2{
    width: 150px;
    border-radius: 20px;
    border: 1px solid #262524;
    text-align: center;
    margin-bottom: 10px;
    transition: all 400ms ease;
}
.btn2:hover{
    transform: translateY(-10%);
    background-color: goldenrod;
}




/*Termina el trabajo de Pablo*/

/*Responsive*/

@media screen and (max-width: 1300px){

    
}

@media screen and (max-width: 1100px){
    
    
}

/*Aguanta hasta 950 pixeles(Despues se deforma)*/

@media screen and (max-width: 590px){
    main{
        width: 95%;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 10px;
        position: relative;
        background-position: center;
        background-attachment: local;
        background-position-x: center;
        text-align: center;
        background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190619/ourmid/pngtree-european-retro-pattern-stationery-background-material-image_134187.jpg");
    }

    section{
        width: 95%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 80px;
        margin: 20px auto;
        margin-top: 30px;
        position: relative;
    }
    
    .contenedorLogoInicio{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .imgInicio{
        width: 90%;
        height: 250px;
        border-radius: 10%;
        border:5px solid ;
        background-color: white;
        background-size: cover;
        /*background-position: center;*/
        animation-name: mover;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }
    /*@keyframes mover {
        0% { margin-top: 0px;
             transform: rotate(360deg);      }
        100% { margin-top: 500px;       }
    } 
    */
    
    
    
    
    .contenedorInicio{
        display: flex;
        margin: 50px;
        margin-top: 70px;
        justify-content: flex-start;
        flex-direction: column;
        text-align: left;
        width: 100%;
        gap: 10px;
    }
    
    .tituloInicio{
        width: 100%;
        transition: all 400ms ease;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        text-align: left;
        font-size: 20px;
        font-family: Arial Black; 
        font-weight: bold; 
        text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
        background-repeat: no-repeat;
    }
    .tituloInicio1:hover{
        transform: translateY(-40%);
    }


    .tituloInicio1{
        width: 100%;
        margin-bottom: 20px;
        transition: all 400ms ease;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        text-align: left;
        font-size: 25px;
        font-family: Arial Black; 
        font-weight: bold; 
        font-size: 30px; 
        text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
        background-repeat: no-repeat;
        animation-name: none;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-direction: alternate;
    
    }
    

    .tituloInicio2{
        width: 100%;
        margin-bottom: 20px;
        transition: all 400ms ease;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        text-align: left;
        font-size: 25px;
        font-family: Arial Black; 
        font-weight: bold; 
        font-size: 30px; 
        text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
        background-repeat: no-repeat;
        animation-name: none;
    
    }
    .tituloInicio2:hover{
        transform: translateY(-40%);
    }

    .tituloInicio3{
        width: 100%;
        margin-bottom: 20px;
        transition: all 400ms ease;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        text-align: left;
        font-size: 25px;
        font-family: Arial Black; 
        font-weight: bold; 
        font-size: 30px; 
        text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
        background-repeat: no-repeat;
        animation-name: none;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-direction: alternate;
    
    }
    .tituloInicio3:hover{
        transform: translateY(-40%);
    }
    
    
    
.titulo1{
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 50px;
    margin-top: 70px;
    width: 60%;
    margin-left: 0px;
    font-size: 25px;
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    background-repeat: no-repeat;
}







.contenedor1{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15%;
    background-position-x: center;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190619/ourmid/pngtree-european-retro-pattern-stationery-background-material-image_134187.jpg");
}

.contenedorMenu1{
    width: 90%;
    text-align: center;
}

.contenedor1 div{
    margin-bottom: 20px;
}

.nombreComida{
    color: #252440;
    text-transform: uppercase;
    font-weight: bold;
}

.precios{
    padding-bottom: 30px;
    color: red;
    font-weight: bold;
}










.contenedor2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15%;
    padding-bottom: 20px;
}

.contenedorImg{
    width: 30%;
    border-radius: 50%;
}

.img{
    width: 250px;
    height: 220px;
    border-radius: 50%;
    
}

.contenedorMenu2{
    width: 30%;
    text-align: center;
}










.contenedorLateral{
    width: auto;
    height: 100%;
    background-color: #000030;
    position: absolute;
    top: 0%;
    right: -30%;
    bottom: 3.6%;
    display: none;
}

.contenedorLateral2{
    width: auto;
    height: 100%;
    background-color: #000030;
    position: absolute;
    top: 2%;
    right: -30%;
    bottom: 3.6%;
    display: none;
}

.contenedorLateral3{
    width: auto;
    height: 100%;
    background-color: #000030;
    position: absolute;
    top: 0%;
    right: -30%;
    bottom: 3.6%;
    display: none;
}

.contenedorImg2{
    border-radius: 50%;
    width: 250px;
    height: 220px;
    border: solid;
    border-color: white;
    margin: 70px auto;
    background-size: cover;
    background-position: center;
    
}
.img2{
    width: 250px;
    height: 220px;
    background-color: white;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.btn1{
    width: 150px;
    border-radius: 20px;
    background-color: white;
    border: 5px solid black;
    text-align: center;
    margin-bottom: 40px;
    transition: all 400ms ease;
}
.btn1:hover{
    transform: translateY(-10%);
    background-color: white;
}





.btn{
    width: 150px;
    border-radius: 20px;
    border: 1px solid #262524;
    text-align: center;
    margin-bottom: 40px;
    transition: all 400ms ease;
}
.btn:hover{
    transform: translateY(-10%);
    background-color: goldenrod;
}
.btnA{
    text-decoration: none;
    color: black;
    
}



.btn2{
    width: 150px;
    border-radius: 20px;
    border: 1px solid #262524;
    text-align: center;
    margin-bottom: 10px;
    transition: all 400ms ease;
}
.btn2:hover{
    transform: translateY(-10%);
    background-color: goldenrod;
}

footer {
    width: 95%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 80px;
    margin: 50px auto;
    margin-top: 30px;
    position: relative;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190619/ourmid/pngtree-european-retro-pattern-stationery-background-material-image_134187.jpg');
}

.Acerca-de {
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 50px;
    margin-top: 50px;
    width: 50%;
    margin-left: 20%;
    font-size: 25px;
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    background-repeat: no-repeat;

}

.Contenido {
    float: left;
    width: 100%;
    text-align: center;
}

aside {
    float: left;
    width: 0;
    display: none;


}

.Mapa {
   margin: 20px;
}

.mapa2{
    margin-top: 20px;
    width: 95%;
    height: 300px;
}
    
}